/* You can add global styles to this file, and also import other style files */
@import "../src/scores-bulma.css";

.centered {
    text-align: center;
}


.spread {
    width: 100%; 
}

.word-green {
    color : rgb(120, 158, 63);
}

.disabled-text {
    color: rgb(127 127 127);
}

.green {
    background : greenyellow;
}

.full-height {
    height: 100%;
}